/* You can add global styles to this file, and also import other style files

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

.number-field {
    width: 100px;
    margin: 5px;
}

.text-field {
    width: 150px;
    margin: 5px;
}

.title {
    margin: 5px !important;
}

.subtitle {
    margin:5px !important;
}

table {
    width: 100%;
}